html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: white;
  perspective: 2600px;
  perspective-origin: 1000px -50px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 500px;
  margin-left: 50px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3.8em;
  margin-bottom: 20px;
  line-height: 1.2;
  color: rgb(251, 249, 248);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.slogan-text {
  font-size: 1.4em;
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.keywords-highlight {
  font-size: 1.1em;
  margin-bottom: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.keywords-highlight .keyword {
  color: var(--color-yellow);
}

.hero-btn {
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

.carousel-container {
  position: absolute;
  right: 0;
  width: 300px;
  height: 800px;
  top: 30%;
  transform-style: preserve-3d;
  animation: rotate 70s infinite linear;
}

.carousel-item {
  position: absolute;
  width: 195px;
  height: 160px;
  border-radius: 1px;
  overflow: hidden;
  transition: transform 0.5s ease;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotate {
  from {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5em;
  }
  .slogan-text,
  .keywords-highlight {
    font-size: 1em;
  }
  .carousel-container {
    display: none;
  }
}