html,
body {
  max-width: 100%;
  overflow-x: hidden;
  margin-top: 50px;

}

.hero-section {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: white;
  perspective: 2600px;
  perspective-origin: 1000px -50px;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, rgba(250, 158, 112, 1) 10%, rgba(249, 119, 53, 1) 53%);
  padding-left: 30px;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  padding: 20px;
  text-align: center; /* Cho cân trái nếu cần */
}


.hero-content h1 {
  font-family: "Comforter", cursive;
  font-weight: 599;
  font-style: normal;
  font-size: 5em;
  margin-bottom: 20px;
  line-height: 1.2;
  color: rgb(251, 249, 248);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.slogan-text {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
}

.keywords-highlight {
  font-size: 1em;
  margin-top: 10px; /* thêm dòng này */
  margin-bottom: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}


.keywords-highlight .keyword {
  color: rgb(255, 85, 0);
}

.hero-btn {
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #fff;
  color: rgb(254, 93, 13);
  text-decoration: none;

}

a.hero-btn {
  text-decoration: none;
}

.hero-btn:hover {
  color: floralwhite;
}

.carousel-container {
  position: absolute;
  right: 0;
  width: 300px;
  height: 800px;
  top: 30%;
  transform-style: preserve-3d;
  animation: rotate 150s infinite linear;
  will-change: transform;
}

.carousel-item {
  position: absolute;
  width: 200px;
  height: 180px;
  border-radius: 1px;
  overflow: hidden;
  transition: transform 0.5s linear;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5em;
  }

  .slogan-text,
  .keywords-highlight {
    font-size: 1em;
  }

  .carousel-container {
    display: none;
  }
}